In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt
import calendar

In [ ]:
https://www.kyuden.co.jp/var/rev0/0370/6463/area_jyukyu_jisseki_H28_1Q.csv

In [ ]:
# 以下中電データ取得のためのメモ

In [ ]:
https://powergrid.chuden.co.jp/denki_yoho_content_data/2020_areabalance_current_term.csv

In [151]:
df =pd.read_csv('https://powergrid.chuden.co.jp/denki_yoho_content_data/2020_areabalance_current_term.csv',encoding='Shift-JIS',names=list(range(1,15)))

In [157]:
# 太陽光の自家消費分は、エリア需要実績や太陽光発電実績には加算していない
# エリア供給力は、特定できるものは電源種別とし、バイオマス混焼や特定できないものは火力に包含(2018年10月1日から揚水欄は揚水発電と揚水動力の合計値）
df[0:1].values[0]

array(['・エリア供給力は、特定できるものは電源種別とし、バイオマス混焼や特定できないものは火力に包含(2018年10月1日から揚水欄は揚水発電と揚水動力の合計値）',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
      dtype=object)

In [161]:
df[4:5].values[0]

array(['DATE', 'TIME', 'エリア需要', '原子力', '火力', '水力', '地熱', 'バイオマス',
       '太陽光（実績）', '太陽光（出力制御量）', '風力（実績）', '風力（出力制御量）', '揚水', '連系線'],
      dtype=object)

In [162]:
chuden_columns = ['DATE', 'TIME', 'エリア需要', '原子力', '火力', '水力', '地熱', 'バイオマス',
       '太陽光（実績）', '太陽光（出力制御量）', '風力（実績）', '風力（出力制御量）', '揚水', '連系線']

In [182]:
# 中電実績取得プログラム
# 太陽光の自家消費分は、エリア需要実績や太陽光発電実績には加算していない
# エリア供給力は、特定できるものは電源種別とし、バイオマス混焼や特定できないものは火力に包含(2018年10月1日から揚水欄は揚水発電と揚水動力の合計値）

def Get_data_Chuden():
    chuden_columns = ['Date', 'Time', 'エリア需要', '原子力', '火力', '水力', '地熱', 'バイオマス',
        '太陽光（実績）', '太陽光（出力制御量）', '風力（実績）', '風力（出力制御量）', '揚水', '連系線']
    df_chuden = pd.DataFrame(columns=chuden_columns)
    # nanがないことがわかった
    for i in range(2016,2023):

        df =pd.read_csv('https://powergrid.chuden.co.jp/denki_yoho_content_data/2020_areabalance_current_term.csv',encoding='Shift-JIS',names=list(range(1,15)))
        df.columns=chuden_columns
        df = df[5:]
        df_chuden = pd.concat([df_chuden,df],axis=0)

    df_chuden = df_chuden.reset_index(drop=True)

    df_chuden.to_csv('/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/chuden_jisseki.csv')

In [183]:
Get_data_Chuden()

In [179]:
df =pd.read_csv('https://powergrid.chuden.co.jp/denki_yoho_content_data/2020_areabalance_current_term.csv',encoding='Shift-JIS',names=list(range(1,15)))
chuden_columns = ['DATE', 'TIME', 'エリア需要', '原子力', '火力', '水力', '地熱', 'バイオマス',
       '太陽光（実績）', '太陽光（出力制御量）', '風力（実績）', '風力（出力制御量）', '揚水', '連系線']
df_chuden = pd.DataFrame(columns=chuden_columns)
# nanがないことがわかった
for i in range(2016,2023):
    df =pd.read_csv('https://powergrid.chuden.co.jp/denki_yoho_content_data/2020_areabalance_current_term.csv',encoding='Shift-JIS',names=list(range(1,15)))
    df = df[5:]
    print(len(df)-len(df.dropna()))

0
0
0
0
0
0
0

In [166]:
df.columns = chuden_columns
df = df[5:]
df

,DATE,TIME,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光（実績）,太陽光（出力制御量）,風力（実績）,風力（出力制御量）,揚水,連系線
4,DATE,TIME,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光（実績）,太陽光（出力制御量）,風力（実績）,風力（出力制御量）,揚水,連系線
5,2020/04/01,00:00,12686,0,9971,1670,0,0,0,0,146,0,0,899
6,2020/04/01,01:00,12386,0,9287,1664,0,0,0,0,147,0,-2,1290
7,2020/04/01,02:00,12491,0,9382,1706,0,0,0,0,140,0,-2,1265
8,2020/04/01,03:00,12598,0,9622,1708,0,0,0,0,158,0,0,1110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8760,2021/03/31,19:00,14791,0,11879,1871,0,0,0,0,39,0,845,157
8761,2021/03/31,20:00,14336,0,11469,1856,0,0,0,0,40,0,477,494
8762,2021/03/31,21:00,13863,0,11511,1836,0,0,0,0,37,0,170,309
8763,2021/03/31,22:00,13380,0,11106,1773,0,0,0,0,30,0,-118,589
8764,2021/03/31,23:00,13080,0,10540,1741,0,0,0,0,19,0,21,759

In [ ]:
# これより下は東電用のプログラムメモ

In [ ]:
https://www.tepco.co.jp/forecast/html/images/area-2022.csv

In [135]:


df =pd.read_csv('https://www.tepco.co.jp/forecast/html/images/area-2016.csv',encoding='Shift-JIS',names=list(range(1,16)))

In [124]:
for i in range(2016,2023):
    try:
        df =pd.read_csv(f'https://www.tepco.co.jp/forecast/html/images/area-{i}.csv',encoding='Shift-JIS',names=list(range(1,16)))
    except:
        print(i)

In [131]:
# 単位[万kWh]	
toden_columns =['Date', 'Time', '東京エリア需要','原子力', '火力', '水力', '地熱', 'バイオマス', '太陽光発電実績', '太陽光出力制御量', '風力発電実績', '風力出力制御量','揚水', '連系線', '合計']

df_toden = pd.DataFrame(columns=toden_columns)

In [132]:
df_toden

Empty DataFrame
Columns: [DATE, TIME, 東京エリア需要, 原子力, 火力, 水力, 地熱, バイオマス, 太陽光発電実績, 太陽光出力制御量, 風力発電実績, 風力出力制御量, 揚水, 連系線, 合計]
Index: []

In [136]:
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,単位[万kWh],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DATE,TIME,東京エリア需要,供給力,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,原子力,火力,水力,地熱,バイオマス,太陽光発電実績,太陽光出力制御量,風力発電実績,風力出力制御量,揚水,連系線,合計
3,2016/4/1,0:00,"2,555",0,2258,92,0,2,0,0,2,0,0,201,"2,555"
4,2016/4/1,1:00,"2,433",0,2151,92,0,2,0,0,2,0,0,186,"2,433"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,2017/3/31,19:00,3926,0,3623,114,0,6,0,0,8,0,28,147,3926
8759,2017/3/31,20:00,3794,0,3500,102,0,6,0,0,9,0,0,177,3794
8760,2017/3/31,21:00,3619,0,3327,83,0,6,0,0,10,0,0,193,3619
8761,2017/3/31,22:00,3463,0,3118,77,0,6,0,0,10,0,0,252,3463
8762,2017/3/31,23:00,3230,0,2898,77,0,6,0,0,11,0,0,238,3230

In [137]:
df.columns=toden_columns
df= df[3:]

In [139]:
df= df[3:]

In [142]:
df_toden = pd.concat([df_toden,df],axis=0)

In [143]:
df_toden

,DATE,TIME,東京エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光発電実績,太陽光出力制御量,風力発電実績,風力出力制御量,揚水,連系線,合計
3,2016/4/1,0:00,"2,555",0,2258,92,0,2,0,0,2,0,0,201,"2,555"
4,2016/4/1,1:00,"2,433",0,2151,92,0,2,0,0,2,0,0,186,"2,433"
5,2016/4/1,2:00,"2,393",0,2117,92,0,2,0,0,2,0,0,180,"2,393"
6,2016/4/1,3:00,"2,375",0,2101,93,0,2,0,0,1,0,0,178,"2,375"
7,2016/4/1,4:00,"2,390",0,2125,93,0,2,0,0,1,0,0,169,"2,390"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,2017/3/31,19:00,3926,0,3623,114,0,6,0,0,8,0,28,147,3926
8759,2017/3/31,20:00,3794,0,3500,102,0,6,0,0,9,0,0,177,3794
8760,2017/3/31,21:00,3619,0,3327,83,0,6,0,0,10,0,0,193,3619
8761,2017/3/31,22:00,3463,0,3118,77,0,6,0,0,10,0,0,252,3463
8762,2017/3/31,23:00,3230,0,2898,77,0,6,0,0,11,0,0,238,3230

In [147]:
# 単位[万kWh]	

def Get_data_Toden():

    toden_columns =['Date', 'Time', '東京エリア需要','原子力', '火力', '水力', '地熱', 'バイオマス', '太陽光発電実績', '太陽光出力制御量', '風力発電実績', '風力出力制御量','揚水', '連系線', '合計']
    # 空のデータフレーム
    df_toden = pd.DataFrame(columns=toden_columns)

    for i in range(2016,2023):
        
        df =pd.read_csv(f'https://www.tepco.co.jp/forecast/html/images/area-{i}.csv',encoding='Shift-JIS',names=list(range(1,16)))
        df.columns=toden_columns
        df= df[3:]
        df_toden = pd.concat([df_toden,df],axis=0)

    df_toden = df_toden.reset_index(drop=True)
    df_toden.to_csv('/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/toden_jisseki.csv')

In [146]:
df_toden.to_csv('/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/toden_jisseki.csv')

In [149]:
Get_data_Toden()

In [114]:
df =pd.read_csv('https://www.tepco.co.jp/forecast/html/images/area-2016.csv',encoding='Shift-JIS',names=list(range(0,16)))

In [115]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,単位[万kWh],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DATE,TIME,東京エリア需要,供給力,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,原子力,火力,水力,地熱,バイオマス,太陽光発電実績,太陽光出力制御量,風力発電実績,風力出力制御量,揚水,連系線,合計,NaN
3,2016/4/1,0:00,"2,555",0,2258,92,0,2,0,0,2,0,0,201,"2,555",NaN
4,2016/4/1,1:00,"2,433",0,2151,92,0,2,0,0,2,0,0,186,"2,433",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,2017/3/31,19:00,3926,0,3623,114,0,6,0,0,8,0,28,147,3926,NaN
8759,2017/3/31,20:00,3794,0,3500,102,0,6,0,0,9,0,0,177,3794,NaN
8760,2017/3/31,21:00,3619,0,3327,83,0,6,0,0,10,0,0,193,3619,NaN
8761,2017/3/31,22:00,3463,0,3118,77,0,6,0,0,10,0,0,252,3463,NaN
8762,2017/3/31,23:00,3230,0,2898,77,0,6,0,0,11,0,0,238,3230,NaN

In [ ]:
# これより下は関電実績用の作成過程メモ

In [42]:
df =pd.read_csv('https://www.kansai-td.co.jp/denkiyoho/csv/area_jyukyu_jisseki_2018.csv',encoding='Shift-JIS')

In [43]:
df[0:1].values[0]

array(['DATE_TIME', 'エリア需要〔MWh〕', '原子力〔MWh〕', '火力〔MWh〕', '水力〔MWh〕',
       '地熱〔MWh〕', 'バイオマス〔MWh〕', '実績〔MWh〕', '抑制量〔MWh〕', '実績〔MWh〕',
       '抑制量〔MWh〕', '揚水〔MWh〕', '連系線〔MWh〕'], dtype=object)

In [40]:
df.columns= df[0:1].values[0]
df= df[1:]
df

,DATE_TIME,エリア需要〔MWh〕,原子力〔MWh〕,火力〔MWh〕,水力〔MWh〕,地熱〔MWh〕,バイオマス〔MWh〕,実績〔MWh〕,抑制量〔MWh〕,実績〔MWh〕,抑制量〔MWh〕,揚水〔MWh〕,連系線〔MWh〕
1,2018/4/1 0:00,12139,2951,6917,1450,0,0,0,0,43,0,-201,979
2,2018/4/1 1:00,12000,2951,6823,1446,0,0,0,0,41,0,-201,940
3,2018/4/1 2:00,12500,2951,7094,1646,0,0,0,0,27,0,-201,983
4,2018/4/1 3:00,12746,2951,7390,1643,0,0,0,0,26,0,-200,936
5,2018/4/1 4:00,12514,2951,7181,1585,0,0,0,0,23,0,-200,974
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8757,2019/3/31 20:00,16103,4129,9411,1273,0,0,0,0,54,0,221,1015
8758,2019/3/31 21:00,15544,4129,9407,1055,0,0,0,0,43,0,334,577
8759,2019/3/31 22:00,14715,4129,9232,932,0,0,0,0,44,0,286,92
8760,2019/3/31 23:00,13842,4129,8609,889,0,0,0,0,44,0,31,140
8761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# これで、dropnaでnanの行を消しても問題ないことがわかった

year_list = list(range(2016,2023))
kanden_columns = ['DATE_TIME', 'エリア需要〔MWh〕', '原子力〔MWh〕', '火力〔MWh〕', '水力〔MWh〕','地熱〔MWh〕', 'バイオマス〔MWh〕', '実績〔MWh〕', '抑制量〔MWh〕', '実績〔MWh〕','抑制量〔MWh〕', '揚水〔MWh〕', '連系線〔MWh〕']
for i in year_list:
    df =pd.read_csv(f'https://www.kansai-td.co.jp/denkiyoho/csv/area_jyukyu_jisseki_{i}.csv',encoding='Shift-JIS')
    df.columns= kanden_columns
    df= df[1:]


    if len(df[df['DATE_TIME'].isna()])==0:
        pass
    else:

        print(i,len(df[df['DATE_TIME'].isna()]))

2018 1
2021 1

In [69]:
def Get_data_Kanden():
    year_list = list(range(2016,2023))
    kanden_columns = ['DATE_TIME', 'エリア需要〔MWh〕', '原子力〔MWh〕', '火力〔MWh〕', '水力〔MWh〕','地熱〔MWh〕', 'バイオマス〔MWh〕', '実績〔MWh〕', '抑制量〔MWh〕', '実績〔MWh〕','抑制量〔MWh〕', '揚水〔MWh〕', '連系線〔MWh〕']
    # 空のデータフレームを作る
    df_kanden = pd.DataFrame(columns=kanden_columns)


    for i in year_list:
        df =pd.read_csv(f'https://www.kansai-td.co.jp/denkiyoho/csv/area_jyukyu_jisseki_{i}.csv',encoding='Shift-JIS')
        df.columns= kanden_columns

        df = df.dropna()
        df = df[1:]
        df_kanden = pd.concat([df_kanden,df],axis=0)
    df_kanden= df_kanden.reset_index(drop=True)

    df_kanden.to_csv('/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/kanden_jisseki.csv')

In [70]:
Get_data_Kanden()

In [66]:
Date_list = []
Time_list = []
for date_time in df_kanden['DATE_TIME'].values[0:100]:
    Date = f'{date_time.year}/{date_time.month}/{date_time.day}'
    Time = date_time.time
    Date_list.append(Date)
    Time_list.append(Time)

AttributeError: 'str' object has no attribute 'year'

In [67]:
df_kanden['DATE_TIME'].values[0]

'2016/4/1 0:00'

In [49]:
df_kanden = pd.DataFrame(columns=kanden_columns)

df = df.dropna()
df = df[1:]
df_kanden = pd.concat([df_kanden,df],axis=0)

In [68]:
df_kanden

,DATE_TIME,エリア需要〔MWh〕,原子力〔MWh〕,火力〔MWh〕,水力〔MWh〕,地熱〔MWh〕,バイオマス〔MWh〕,実績〔MWh〕,抑制量〔MWh〕,実績〔MWh〕,抑制量〔MWh〕,揚水〔MWh〕,連系線〔MWh〕
0,2016/4/1 0:00,12918,0,10405,758,0,0,0,0,41,0,89,1625
1,2016/4/1 1:00,12835,0,10453,580,0,0,0,0,24,0,0,1778
2,2016/4/1 2:00,13351,0,10952,528,0,0,0,0,27,0,0,1844
3,2016/4/1 3:00,13591,0,11327,491,0,0,0,0,29,0,0,1744
4,2016/4/1 4:00,13307,0,11140,479,0,0,0,0,34,0,0,1654
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57715,2022/10/31 19:00,15354,2877,8394,1490,0,67,0,0,5,0,154,2368
57716,2022/10/31 20:00,14748,2877,8148,1392,0,67,0,0,4,0,94,2166
57717,2022/10/31 21:00,14230,2877,7905,1007,0,67,0,0,4,0,0,2369
57718,2022/10/31 22:00,13689,2878,7533,895,0,67,0,0,3,0,0,2312
57719,2022/10/31 23:00,13060,2878,7023,721,0,67,0,0,5,0,0,2366

In [35]:
i
df =pd.read_csv(f'https://www.kansai-td.co.jp/denkiyoho/csv/area_jyukyu_jisseki_{i}.csv',encoding='Shift-JIS')

In [36]:
df[df['DATE_TIME'].isna()]

KeyError: 'DATE_TIME'

In [37]:
df

,・発電実績は、電源種別を特定できるものを仕分けし、電源種別が不明なものは火力に含んでおります。(2022年2月1日から一部のバイオマスを特定し、仕分けております。）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,太陽光,太陽光,風力,風力,NaN,NaN
2,DATE_TIME,エリア需要〔MWh〕,原子力〔MWh〕,火力〔MWh〕,水力〔MWh〕,地熱〔MWh〕,バイオマス〔MWh〕,実績〔MWh〕,抑制量〔MWh〕,実績〔MWh〕,抑制量〔MWh〕,揚水〔MWh〕,連系線〔MWh〕
3,2021/4/1 0:00,12166,2061,6639,1577,0,0,0,0,18,0,211,1662
4,2021/4/1 1:00,11962,2060,6546,1712,0,0,0,0,14,0,213,1417
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,2022/3/31 19:00,16722,2069,10202,2028,0,68,0,0,82,0,121,2151
8759,2022/3/31 20:00,16139,2069,9956,1996,0,68,0,0,81,0,119,1850
8760,2022/3/31 21:00,15474,2069,9652,1565,0,68,0,0,77,0,116,1928
8761,2022/3/31 22:00,14648,2069,9317,1475,0,68,0,0,81,0,112,1526
8762,2022/3/31 23:00,13936,2069,8574,1493,0,68,0,0,85,0,114,1533