 これは、北電実績と広域予備率のデータを取得するプログラムのメモです。

In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt
import calendar

In [1]:
from get_data_module import *

In [3]:
Get_data_Kanden()
df_kanden = pd.read_csv("/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/kanden_jisseki.csv",index_col=0)
df_kanden

,DATE_TIME,エリア需要〔MWh〕,原子力〔MWh〕,火力〔MWh〕,水力〔MWh〕,地熱〔MWh〕,バイオマス〔MWh〕,実績〔MWh〕,抑制量〔MWh〕,実績〔MWh〕.1,抑制量〔MWh〕.1,揚水〔MWh〕,連系線〔MWh〕
0,2016/4/1 0:00,12918,0,10405,758,0,0,0,0,41,0,89,1625
1,2016/4/1 1:00,12835,0,10453,580,0,0,0,0,24,0,0,1778
2,2016/4/1 2:00,13351,0,10952,528,0,0,0,0,27,0,0,1844
3,2016/4/1 3:00,13591,0,11327,491,0,0,0,0,29,0,0,1744
4,2016/4/1 4:00,13307,0,11140,479,0,0,0,0,34,0,0,1654
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57715,2022/10/31 19:00,15354,2877,8394,1490,0,67,0,0,5,0,154,2368
57716,2022/10/31 20:00,14748,2877,8148,1392,0,67,0,0,4,0,94,2166
57717,2022/10/31 21:00,14230,2877,7905,1007,0,67,0,0,4,0,0,2369
57718,2022/10/31 22:00,13689,2878,7533,895,0,67,0,0,3,0,0,2312
57719,2022/10/31 23:00,13060,2878,7023,721,0,67,0,0,5,0,0,2366

In [3]:
Get_data_Hokuden()
df_Hokuden = pd.read_csv("/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/hokuden_jisseki.csv",index_col=0)

In [5]:
df_Hokuden

,Date,Time,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
0,2017/4/1,0時,3506.0,0.0,3102.0,255.0,14.0,4.0,0.0,0.0,14.0,0.0,35.0,83.0,3506.0
1,2017/4/1,1時,3640.0,0.0,3111.0,253.0,14.0,4.0,0.0,0.0,13.0,0.0,123.0,122.0,3640.0
2,2017/4/1,2時,3756.0,0.0,3133.0,296.0,15.0,4.0,0.0,0.0,12.0,0.0,134.0,162.0,3756.0
3,2017/4/1,3時,3817.0,0.0,3135.0,384.0,14.0,4.0,0.0,0.0,12.0,0.0,79.0,189.0,3817.0
4,2017/4/1,4時,3888.0,0.0,3126.0,442.0,14.0,4.0,0.0,0.0,8.0,0.0,97.0,197.0,3888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48983,2022/10/31,19時,3437.0,0.0,2567.0,388.0,8.0,96.0,0.0,0.0,64.0,0.0,70.0,244.0,3437.0
48984,2022/10/31,20時,3265.0,0.0,2549.0,330.0,8.0,96.0,0.0,0.0,76.0,0.0,70.0,137.0,3265.0
48985,2022/10/31,21時,3097.0,0.0,2341.0,306.0,8.0,96.0,0.0,0.0,91.0,0.0,27.0,227.0,3097.0
48986,2022/10/31,22時,2964.0,0.0,2238.0,265.0,9.0,97.0,0.0,0.0,107.0,0.0,0.0,248.0,2964.0
48987,2022/10/31,23時,2904.0,0.0,2141.0,270.0,8.0,96.0,0.0,0.0,117.0,0.0,2.0,269.0,2904.0

In [4]:
# 予備率のデータを更新して読み込み
Get_data_yobiritsu()
df_yobiritsu = pd.read_csv("/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/yobiritsu.csv",index_col=0)

In [6]:
df_yobiritsu = pd.read_csv("/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/yobiritsu.csv",index_col=0)

In [7]:
df_yobiritsu

,Date,Time,ブロックNo,エリア名,広域ブロック需要(MW),広域ブロック供給力(MW),広域ブロック予備力(MW),広域予備率(%),広域使用率(%),エリア需要(MW),エリア供給力(MW),エリア予備力(MW)
0,2022/03/21,00:30,1,北海道,82893.892,100593.054,17699.162,21.35,82.41,3524.000,4055.000,531.000
1,2022/03/21,00:30,1,東北,82893.892,100593.054,17699.162,21.35,82.41,8799.696,10747.652,1947.956
2,2022/03/21,00:30,1,東京,82893.892,100593.054,17699.162,21.35,82.41,25576.000,31802.000,6226.000
3,2022/03/21,00:30,1,中部,82893.892,100593.054,17699.162,21.35,82.41,12054.152,13794.798,1740.646
4,2022/03/21,00:30,1,北陸,82893.892,100593.054,17699.162,21.35,82.41,3054.000,3566.000,512.000
...,...,...,...,...,...,...,...,...,...,...,...,...
127675,2022/12/11,24:00,2,関西,81992.596,100842.382,18849.786,22.99,81.31,13966.000,15991.070,2025.070
127676,2022/12/11,24:00,2,中国,81992.596,100842.382,18849.786,22.99,81.31,5682.000,7030.000,1348.000
127677,2022/12/11,24:00,2,四国,81992.596,100842.382,18849.786,22.99,81.31,2642.698,3567.972,925.274
127678,2022/12/11,24:00,2,九州,81992.596,100842.382,18849.786,22.99,81.31,8335.500,9798.620,1463.120
127679,2022/12/11,24:00,3,沖縄,719.000,1170.480,451.480,62.79,61.43,719.000,1170.480,451.480

In [98]:
year_list= list(range(2017,2023))
num_list = [1,2,3,4]

In [99]:
year_list

[2017, 2018, 2019, 2020, 2021, 2022]

In [146]:

hokuden_columns =['Date','Time', 'エリア需要', '原子力', '火力', '水力', '地熱', 'バイオマス', '太陽光実績', '太陽光抑制量', '風力実績', '風力抑制量', '揚水', '連系線','供給力合計']
year_list= list(range(2017,2023))
num_list = [1,2,3,4]


# 空のデータフレーム
df_hokuden = pd.DataFrame(columns=hokuden_columns)


for i in year_list:
    try:
        
            
        for j in num_list:
            # 2018年だけexcelなので別に処理する
            if (i==2018)&(j==2):
                df =pd.read_excel('https://www.hepco.co.jp/network/renewable_energy/fixedprice_purchase/xls/sup_dem_results_2018_2q.xls')
                date_list =['月日']
                for dates in df['単位[MWh]'][df['単位[MWh]'].notna()].values[1:]:
                    date_num = f'{dates.year}/{dates.month}/{dates.day}'
                    date_list.append(date_num)
                df['単位[MWh]'][df['単位[MWh]'].notna()] = date_list

            else:
                df =pd.read_csv(f'https://www.hepco.co.jp/network/renewable_energy/fixedprice_purchase/csv/sup_dem_results_{i}_{j}q.csv',encoding="Shift-JIS")
            df.columns =hokuden_columns
            df = df[3:]
            df['Date'] = df['Date'].fillna(method = 'ffill')
            df_hokuden = pd.concat([df_hokuden,df],axis=0)
    except:
        pass
        # print(i,j)
df_hokuden = df_hokuden.reset_index(drop=True)

In [149]:
df_hokuden[df_hokuden['Date']=='2018/7/1']

,Date,Time,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
10969,2018/7/1,0時,2708,0,1841,726,16,7,0,0,20,0,32,67,2708
10970,2018/7/1,1時,2726,0,1813,757,16,7,0,0,26,0,43,64,2726
10971,2018/7/1,2時,2793,0,1830,789,15,7,0,0,35,0,60,57,2793
10972,2018/7/1,3時,2880,0,1817,812,16,7,0,0,56,0,110,62,2880
10973,2018/7/1,4時,2813,0,1762,815,16,7,5,0,59,0,89,60,2813
10974,2018/7/1,5時,2667,0,1693,750,15,7,46,0,52,0,53,52,2667
10975,2018/7/1,6時,2671,0,1624,765,16,7,123,0,46,0,31,60,2671
10976,2018/7/1,7時,2752,0,1651,752,16,7,192,0,44,0,26,65,2752
10977,2018/7/1,8時,2851,0,1710,744,15,7,226,0,50,0,25,74,2851
10978,2018/7/1,9時,2958,0,1700,760,16,7,304,0,63,0,26,83,2958
10979,2018/7/1,10時,3040,0,1697,754,15,7,361,0,89,0,38,79,3040
10980,2018/7/1,11時,3098,0,1753,767,16,7,325,0,115,0,46,69,3098
10981,2018/7/1,12時,3069,0,1854,735,15,7,255,0,109,0,32,63,3069
10982,2018/7/1,13時,3034,0,1837,751,16,7,236,0,98,0,26,64,3034
10983,2018/7/1,14時,3011,0,1826,789,15,7,187,0,78,0,44,66,3011
10984,2018/7/1,15時,3045,0,1902,802,16,7,141,0,62,0,45,70,3045
10985,2018/7/1,16時,3119,0,1936,870,15,7,94,0,66,0,62,69,3119
10986,2018/7/1,17時,3201,0,2069,873,16,7,47,0,66,0,56,67,3201
10987,2018/7/1,18時,3267,0,2134,880,16,7,7,0,74,0,79,71,3267
10988,2018/7/1,19時,3381,0,2195,859,17,7,0,0,76,0,135,93,3381
10989,2018/7/1,20時,3231,0,2125,827,16,7,0,0,99,0,75,82,3231
10990,2018/7/1,21時,3062,0,2008,809,17,7,0,0,99,0,64,59,3062
10991,2018/7/1,22時,2855,0,1795,822,17,7,0,0,105,0,51,58,2855
10992,2018/7/1,23時,2747,0,1832,823,16,7,0,0,109,0,-95,56,2747

In [150]:
df_hokuden[df_hokuden['Date']=='2021/7/1']

,Date,Time,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
37276,2021/7/1,0時,2468,0,2018,443,0,111,0,0,290,0,-131,-263,2468
37277,2021/7/1,1時,2424,0,2003,449,0,111,0,0,286,0,-145,-280,2424
37278,2021/7/1,2時,2609,0,2058,459,0,111,0,0,278,0,-142,-155,2609
37279,2021/7/1,3時,2738,0,1971,520,0,111,0,0,277,0,-32,-108,2738
37280,2021/7/1,4時,2716,0,1886,482,0,111,20,0,282,0,53,-117,2716
37281,2021/7/1,5時,2666,0,1814,459,0,111,145,0,290,0,40,-193,2666
37282,2021/7/1,6時,2656,0,1809,431,0,111,234,0,302,0,63,-293,2656
37283,2021/7/1,7時,2742,0,1802,410,0,111,395,0,305,0,35,-316,2742
37284,2021/7/1,8時,3032,0,1926,408,0,111,597,0,270,0,51,-331,3032
37285,2021/7/1,9時,3232,0,2103,390,0,110,662,0,253,0,33,-319,3232
37286,2021/7/1,10時,3324,0,2198,357,0,113,699,0,247,0,31,-320,3324
37287,2021/7/1,11時,3340,0,2150,360,0,113,741,0,241,0,27,-291,3340
37288,2021/7/1,12時,3111,0,2018,341,0,113,788,0,233,0,-123,-260,3111
37289,2021/7/1,13時,3345,0,2277,344,0,113,644,0,235,0,-19,-248,3345
37290,2021/7/1,14時,3331,0,2365,365,0,113,492,0,224,0,44,-272,3331
37291,2021/7/1,15時,3331,0,2294,466,0,113,358,0,223,0,48,-170,3331
37292,2021/7/1,16時,3423,0,2472,518,0,113,260,0,224,0,62,-226,3423
37293,2021/7/1,17時,3323,0,2378,531,0,114,127,0,248,0,47,-121,3323
37294,2021/7/1,18時,3249,0,2315,536,0,114,24,0,237,0,31,-7,3249
37295,2021/7/1,19時,3270,0,2285,487,0,113,0,0,237,0,32,115,3270
37296,2021/7/1,20時,3087,0,1960,448,0,113,0,0,237,0,31,298,3087
37297,2021/7/1,21時,2916,0,1840,418,0,114,0,0,243,0,22,280,2916
37298,2021/7/1,22時,2740,0,1681,424,0,114,0,0,229,0,42,251,2740
37299,2021/7/1,23時,2680,0,1707,435,0,114,0,0,224,0,36,165,2680

In [143]:
df_hokuden.reset_index(drop=True)

,Date,Time,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
0,2017/4/1,0時,3506,0,3102,255,14,4,0,0,14,0,35,83,3506
1,2017/4/1,1時,3640,0,3111,253,14,4,0,0,13,0,123,122,3640
2,2017/4/1,2時,3756,0,3133,296,15,4,0,0,12,0,134,162,3756
3,2017/4/1,3時,3817,0,3135,384,14,4,0,0,12,0,79,189,3817
4,2017/4/1,4時,3888,0,3126,442,14,4,0,0,8,0,97,197,3888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48983,2022/10/31,19時,3437,0,2567,388,8,96,0,0,64,0,70,244,3437
48984,2022/10/31,20時,3265,0,2549,330,8,96,0,0,76,0,70,137,3265
48985,2022/10/31,21時,3097,0,2341,306,8,96,0,0,91,0,27,227,3097
48986,2022/10/31,22時,2964,0,2238,265,9,97,0,0,107,0,0,248,2964
48987,2022/10/31,23時,2904,0,2141,270,8,96,0,0,117,0,2,269,2904

In [144]:
df_hokuden

,Date,Time,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
3,2017/4/1,0時,3506,0,3102,255,14,4,0,0,14,0,35,83,3506
4,2017/4/1,1時,3640,0,3111,253,14,4,0,0,13,0,123,122,3640
5,2017/4/1,2時,3756,0,3133,296,15,4,0,0,12,0,134,162,3756
6,2017/4/1,3時,3817,0,3135,384,14,4,0,0,12,0,79,189,3817
7,2017/4/1,4時,3888,0,3126,442,14,4,0,0,8,0,97,197,3888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,2022/10/31,19時,3437,0,2567,388,8,96,0,0,64,0,70,244,3437
743,2022/10/31,20時,3265,0,2549,330,8,96,0,0,76,0,70,137,3265
744,2022/10/31,21時,3097,0,2341,306,8,96,0,0,91,0,27,227,3097
745,2022/10/31,22時,2964,0,2238,265,9,97,0,0,107,0,0,248,2964
746,2022/10/31,23時,2904,0,2141,270,8,96,0,0,117,0,2,269,2904

In [145]:
pd.concat([df_hokuden,df],axis=0)

,Date,Time,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
3,2017/4/1,0時,3506,0,3102,255,14,4,0,0,14,0,35,83,3506
4,2017/4/1,1時,3640,0,3111,253,14,4,0,0,13,0,123,122,3640
5,2017/4/1,2時,3756,0,3133,296,15,4,0,0,12,0,134,162,3756
6,2017/4/1,3時,3817,0,3135,384,14,4,0,0,12,0,79,189,3817
7,2017/4/1,4時,3888,0,3126,442,14,4,0,0,8,0,97,197,3888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,2022/10/31,19時,3437,0,2567,388,8,96,0,0,64,0,70,244,3437
743,2022/10/31,20時,3265,0,2549,330,8,96,0,0,76,0,70,137,3265
744,2022/10/31,21時,3097,0,2341,306,8,96,0,0,91,0,27,227,3097
745,2022/10/31,22時,2964,0,2238,265,9,97,0,0,107,0,0,248,2964
746,2022/10/31,23時,2904,0,2141,270,8,96,0,0,117,0,2,269,2904

In [89]:
df[1:2].values[0].tolist()

['2021/10/1',
 '1時',
 '2551',
 '0',
 '2047',
 '430',
 '12',
 '115',
 '0',
 '0',
 '32',
 '0',
 '0',
 '-85',
 '2551']

In [90]:
hokuden_columns

['月日',
 '時刻',
 'エリア需要',
 '原子力',
 '火力',
 '水力',
 '地熱',
 'バイオマス',
 '太陽光実績',
 '太陽光抑制量',
 '風力実績',
 '風力抑制量',
 '揚水',
 '連系線',
 '供給力合計']

In [ ]:
https://www.hepco.co.jp/network/renewable_energy/fixedprice_purchase/xls/sup_dem_results_2018_2q.xls

In [73]:
df['単位[MWh]'] = df['単位[MWh]'].fillna(method = 'ffill')

In [74]:
df = df[3:]

In [79]:
df.columns =hokuden_columns

In [80]:
df

,月日,時刻,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
3,2021/10/1,0時,2598,0,2116,486,12,114,0,0,37,0,0,-167,2598
4,2021/10/1,1時,2551,0,2047,430,12,115,0,0,32,0,0,-85,2551
5,2021/10/1,2時,2656,0,2098,442,11,115,0,0,22,0,0,-32,2656
6,2021/10/1,3時,2811,0,2341,425,12,115,0,0,8,0,0,-90,2811
7,2021/10/1,4時,2878,0,2397,440,12,115,0,0,12,0,0,-98,2878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,2021/12/31,19時,4167,0,3915,525,14,119,0,0,330,0,4,-740,4167
2207,2021/12/31,20時,4174,0,4032,423,14,119,0,0,328,0,0,-743,4174
2208,2021/12/31,21時,4221,0,4073,371,14,119,0,0,316,0,0,-673,4221
2209,2021/12/31,22時,4158,0,4028,342,13,120,0,0,298,0,0,-643,4158
2210,2021/12/31,23時,4437,0,4110,338,14,119,0,0,308,0,47,-499,4437

In [ ]:
https://www.hepco.co.jp/network/renewable_energy/fixedprice_purchase/csv/sup_dem_results_2018_2q.csv

In [ ]:
https://www.hepco.co.jp/network/renewable_energy/fixedprice_purchase/csv/sup_dem_results_2018_3q.csv

In [117]:
i,j=2018,2
df =pd.read_excel('https://www.hepco.co.jp/network/renewable_energy/fixedprice_purchase/xls/sup_dem_results_2018_2q.xls')
df

,単位[MWh],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,供給力,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,月日,時刻,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-01 00:00:00,0時,2708,0,1841,726,16,7,0,0,20,0,32,67,2708
4,NaN,1時,2726,0,1813,757,16,7,0,0,26,0,43,64,2726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,NaN,19時,3380,0,2493,594,16,11,0,0,60,0,99,107,3380
2207,NaN,20時,3197,0,2388,540,16,11,0,0,62,0,80,101,3197
2208,NaN,21時,2967,0,2250,479,17,11,0,0,55,0,78,77,2967
2209,NaN,22時,2767,0,2114,464,16,11,0,0,73,0,21,68,2767
2210,NaN,23時,2728,0,2079,473,16,11,0,0,84,0,0,65,2728

In [131]:
df['単位[MWh]'][df['単位[MWh]'].notna()] = df

1                        月日
3       2018-07-01 00:00:00
27      2018-07-02 00:00:00
51      2018-07-03 00:00:00
75      2018-07-04 00:00:00
               ...
2091    2018-09-26 00:00:00
2115    2018-09-27 00:00:00
2139    2018-09-28 00:00:00
2163    2018-09-29 00:00:00
2187    2018-09-30 00:00:00
Name: 単位[MWh], Length: 93, dtype: object

In [138]:
date_list =['月日']
for dates in df['単位[MWh]'][df['単位[MWh]'].notna()].values[1:]:
    date_num = f'{dates.year}/{dates.month}/{dates.day}'
    date_list.append(date_num)

df['単位[MWh]'][df['単位[MWh]'].notna()] = date_list

In [140]:
df['単位[MWh]'][df['単位[MWh]'].notna()] = date_list

In [141]:
df

,単位[MWh],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,供給力,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,月日,時刻,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018/7/1,0時,2708,0,1841,726,16,7,0,0,20,0,32,67,2708
4,NaN,1時,2726,0,1813,757,16,7,0,0,26,0,43,64,2726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,NaN,19時,3380,0,2493,594,16,11,0,0,60,0,99,107,3380
2207,NaN,20時,3197,0,2388,540,16,11,0,0,62,0,80,101,3197
2208,NaN,21時,2967,0,2250,479,17,11,0,0,55,0,78,77,2967
2209,NaN,22時,2767,0,2114,464,16,11,0,0,73,0,21,68,2767
2210,NaN,23時,2728,0,2079,473,16,11,0,0,84,0,0,65,2728

In [139]:
date_list

['月日',
 '2018/7/1',
 '2018/7/2',
 '2018/7/3',
 '2018/7/4',
 '2018/7/5',
 '2018/7/6',
 '2018/7/7',
 '2018/7/8',
 '2018/7/9',
 '2018/7/10',
 '2018/7/11',
 '2018/7/12',
 '2018/7/13',
 '2018/7/14',
 '2018/7/15',
 '2018/7/16',
 '2018/7/17',
 '2018/7/18',
 '2018/7/19',
 '2018/7/20',
 '2018/7/21',
 '2018/7/22',
 '2018/7/23',
 '2018/7/24',
 '2018/7/25',
 '2018/7/26',
 '2018/7/27',
 '2018/7/28',
 '2018/7/29',
 '2018/7/30',
 '2018/7/31',
 '2018/8/1',
 '2018/8/2',
 '2018/8/3',
 '2018/8/4',
 '2018/8/5',
 '2018/8/6',
 '2018/8/7',
 '2018/8/8',
 '2018/8/9',
 '2018/8/10',
 '2018/8/11',
 '2018/8/12',
 '2018/8/13',
 '2018/8/14',
 '2018/8/15',
 '2018/8/16',
 '2018/8/17',
 '2018/8/18',
 '2018/8/19',
 '2018/8/20',
 '2018/8/21',
 '2018/8/22',
 '2018/8/23',
 '2018/8/24',
 '2018/8/25',
 '2018/8/26',
 '2018/8/27',
 '2018/8/28',
 '2018/8/29',
 '2018/8/30',
 '2018/8/31',
 '2018/9/1',
 '2018/9/2',
 '2018/9/3',
 '2018/9/4',
 '2018/9/5',
 '2018/9/6',
 '2018/9/7',
 '2018/9/8',
 '2018/9/9',
 '2018/9/10',
 '2018/9/11',
 '2018/9/12',
 '2018/9/13',
 '2018/9/14',
 '2018/9/15',
 '2018/9/16',
 '2018/9/17',
 '2018/9/18',
 '2018/9/19',
 '2018/9/20',
 '2018/9/21',
 '2018/9/22',
 '2018/9/23',
 '2018/9/24',
 '2018/9/25',
 '2018/9/26',
 '2018/9/27',
 '2018/9/28',
 '2018/9/29',
 '2018/9/30']

In [126]:
df['単位[MWh]'].values[4]

nan

In [127]:
df

,単位[MWh],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,供給力,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,月日,時刻,エリア需要,原子力,火力,水力,地熱,バイオマス,太陽光実績,太陽光抑制量,風力実績,風力抑制量,揚水,連系線,供給力合計
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-01 00:00:00,0時,2708,0,1841,726,16,7,0,0,20,0,32,67,2708
4,NaN,1時,2726,0,1813,757,16,7,0,0,26,0,43,64,2726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,NaN,19時,3380,0,2493,594,16,11,0,0,60,0,99,107,3380
2207,NaN,20時,3197,0,2388,540,16,11,0,0,62,0,80,101,3197
2208,NaN,21時,2967,0,2250,479,17,11,0,0,55,0,78,77,2967
2209,NaN,22時,2767,0,2114,464,16,11,0,0,73,0,21,68,2767
2210,NaN,23時,2728,0,2079,473,16,11,0,0,84,0,0,65,2728

In [ ]:
# ここから下は予備率を取得するためのメモ

In [ ]:


"https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=02&tgtYmdFrom=2022%2F10%2F04&tgtYmdTo=2022%2F12%2F06"
'https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=01&tgtYmdFrom=2022%2F02%2F01&tgtYmdTo=2022%2F02%2F29'

"https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=02&tgtYmdFrom=2022%2F03%2F01&tgtYmdTo=2022%2F03%2F06"

"https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=02&tgtYmdFrom=2022%2F03%2F01&tgtYmdTo=2022%2F03%2F19"

In [ ]:

month_list = list(range(1,13))

# 広域予備率のデータをまとめる

occto_columns = ['対象年月日', '時刻', 'ブロックNo', 'エリア名', '広域ブロック需要(MW)', '広域ブロック供給力(MW)',
       '広域ブロック予備力(MW)', '広域予備率(%)', '広域使用率(%)', 'エリア需要(MW)', 'エリア供給力(MW)',
       'エリア予備力(MW)']
df_occto = pd.DataFrame(columns=occto_columns)
for i in month_list:
    month_range = calendar.monthrange(2022,i)[1]
    month_name= str(i)
    
    if len(month_name)==1:
        month_name = '0'+month_name
    elif len(month_name)==2:
        pass
    else:
        print("error")
        break
# ダウンロード先ののURL
    read_url = f'https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=02&tgtYmdFrom=2022%2F{month_name}%2F01&tgtYmdTo=2022%2F{month_name}%2F{month_range}'
    
    try:
        df_read= pd.read_csv(read_url)
        df_read = df_read.reset_index(drop=False)
        df_read.columns=occto_columns
        df_read = df_read[1:]
        df_occto = pd.concat([df_occto,df_read],axis=0)
        
        print(month_name)
    except:
        pass
df_occto = df_occto.reset_index(drop=True)

df_occto.to_csv('/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/yobiritsu.csv')

In [ ]:
df_occto.to_csv('/Users/yusuke_miyazaki/Desktop/OneDrive/研究関連データ/data_for_project_spot_jikanmae/yobiritsu.csv')

In [ ]:
df_read[0:1].values[0]

In [ ]:
read_url

In [ ]:
df_occto.reset_index()

In [ ]:
df_read.columns=occto_columns

In [ ]:
df_read

In [ ]:
occto_columns = ['対象年月日', '区分名', 'ブロックNo', 'エリア名', '対象時刻', '広域ブロック需要(MW)',
       '広域ブロック供給力(MW)', '広域ブロック予備力(MW)', '広域予備率(%)', '広域使用率(%)',
       'エリア需要(MW)', 'エリア供給力(MW)', 'エリア予備力(MW)']
df_occto = pd.DataFrame(columns=occto_columns)
df_occto

In [ ]:

df_read= pd.read_csv(read_url)
df_read.reset_index(inplace=True)
df_read[1:]

In [ ]:
df_read.reset_index(inplace=True)
df_read

In [ ]:
df_read[0:1].values[0]

In [ ]:
df = pd.read_csv('https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=01&tgtYmdFrom=2022%2F08%2F01&tgtYmdTo=2022%2F08%2F31')

In [ ]:
read_url

In [ ]:
pd.read_csv('https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=01&tgtYmdFrom=2022%2F8%2F01&tgtYmdTo=2022%2F8%2F31')

In [ ]:
month_list = list(range(1,5))

# 広域予備率のデータをまとめる

occto_columns = ['','対象年月日', '区分名', 'ブロックNo', 'エリア名', '対象時刻', '広域ブロック需要(MW)',
       '広域ブロック供給力(MW)', '広域ブロック予備力(MW)', '広域予備率(%)', '広域使用率(%)',
       'エリア需要(MW)', 'エリア供給力(MW)', 'エリア予備力(MW)']
df_occto = pd.DataFrame(columns=occto_columns)
for i in month_list:
    month_range = calendar.monthrange(2022,i)[1]
    month_name= str(i)
    
    if len(month_name)==1:
        month_name = '0'+month_name
    elif len(month_name)==2:
        pass
    else:
        print("error")
        break

    read_url = f'https://web-kohyo.occto.or.jp/kks-web-public/download/downloadCsv?jhSybt=01&tgtYmdFrom=2022%2F{month_name}%2F01&tgtYmdTo=2022%2F{month_name}%2F{month_range}'
    
    try:
        df_read= pd.read_csv(read_url)
        df_read.reset_index(inplace=True)
        df_read.columns=occto_columns[1:]
        df_read = df_read[1:]
        df_occto = pd.concat([df_occto,df_read],axis=0)
        df_occto.reset_index(drop=True)
        print(month_name)
    except:
        pass